
{% extends "templates/basic.html" %}
{% import "templates/abstracts_helper.html" as abstracts %}
{% set active_page = "Contributions" %}

{% block content %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],
processEscapes: true}
});
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <div class="container clearfix mt-100 mb-20">
      {% include "templates/globalmessage.html" ignore missing %}
      <a name="top"></a>
      <h2><span>Abstracts</span></h2>
      <div class="c12 row">
        <p>Use the table below to view and search abstracts or jump directly
	to a listing of all <a href="#talks">talks</a> or <a href="#posters">posters</a>.</p>

	<a name="talks"></a>
	<h2><span>Talks</span></h2>

	{% for t in talks %}
	{{ abstracts.talktitle(t) }}
	<p class="locationschedule">science theme: {{ t['Select a major science topic'] }}<br>
	<em>schedule: {{ t['day']|default('TBA') }}, {{ t['time']|default('TBA') }}</em></p>
	{{ abstracts.authoraffilabstract(t) }}
	{% endfor %}

	<a name="posters"></a>
	<h2><span>Posters</span></h2>
	    
	 {% for t in posters %}
	{{ abstracts.talktitle(t) }}
	<p class="locationschedule"> <em>poster number: {{ t['poster number']|default('TBA') }}</em></p>
	{{ abstracts.authoraffilabstract(t) }}
	{% endfor %}

      </div>  
    </div>

{% endblock content %}
