
{% extends "templates/basic.html" %}
{% set active_page = "Contributions" %}

{% block content %}

    <div class="container clearfix mt-100 mb-20">
       {% include "templates/globalmessage.html" ignore missing %}

      <h2><span>Contributions</span></h2>
      <div class="c12 row">
        <p>We accept submissions for plenary talks and poster contributions. Submission of contributions will start as soon as the SOC finalizes the broad science themes for the meeting.</p>

	<p> Our facilities can support about 500 attendees with talks or posters. Based on the previous Cool Stars meetings, we expect that every interested astronomer should have a chance to join in, but the only guarantee is to submit your abstract early. Subscribe to our announcement list to be informed when registration opens.<p>

	
	{% include "templates/emailform.html" ignore missing %}

      </div>  
    </div>

{% endblock content %}
