
{% extends "templates/basic.html" %}
{% import "templates/abstracts_helper.html" as abstracts %}
{% set active_page = "Contributions" %}

{% block content %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],
processEscapes: true}
});
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="js/abstractstab.js"></script>
	

    <div class="container clearfix mt-100 mb-20">
      {% include "templates/globalmessage.html" ignore missing %}
      <a name="top"></a>
      <h2><span>Abstracts</span></h2>
      <div class="c12 row">
        <p>Use the table below to view and search abstracts or jump directly
	to a listing of all <a href="#talks">talks</a> or <a href="#posters">posters</a>.</p>

<table id="example" class="display" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Author</th>
                <th>Title</th>
		<th>Authorlist</th>
		<th>Affiliations</th>
		<th>Abstract</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Author</th>
                <th>Title</th>
		<th>Authorlist</th>
		<th>Affiliations</th>
		<th>Abstract</th>
             </tr>
        </tfoot>
    </table>
	
	<a name="talks"></a>
	<h2><span>Talks</span></h2>

	{% for t in talks %}
	{{ abstracts.single_abstract_any_type(t) }}
	{% endfor %}

	<a name="posters"></a>
	<h2><span>Posters</span></h2>
	    
	 {% for t in posters %}
	{{ abstracts.single_abstract_any_type(t) }}
	{% endfor %}

      </div>  
    </div>

{% endblock content %}
