
{% extends "templates/basic.html" %}
{% set active_page = "Contributions" %}

{% block content %}

    <div class="container clearfix mt-100 mb-20">
       {% include "templates/globalmessage.html" ignore missing %}
         {% include "templates/timeline.html" ignore missing %}
      <h2><span>Contributions</span></h2>
      <div class="c12 row">
        <p>We accept submissions for plenary talks and poster contributions.</p>

	<p> Our facilities can support about 500 attendees with talks or
	posters. Based on the previous Cool Stars meetings, we expect that
	every interested astronomer should have a chance to join in, but the
	only guarantee is to submit your abstract early by filling out the
	form below. (If you just want to be included in future announcement
	emails but do not wish to submit an abstract at this time, you can 
	subscribe <a href="https://docs.google.com/forms/d/e/1FAIpQLSdrNWPWtAY6bG587l4r9d9yIGwnv6uCAyS_Dg5AaBMAhn39vQ/viewform?usp=sf_link">here</a>.)<p>

	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfONDEIwIP5FkgNVzAKr8J24EYSgIlkftZliG4GSRo7K4qSfg/viewform?embedded=true" width="760" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

      </div>  
    </div>

{% endblock content %}
