{% extends "templates/basic.html" %}
{% set active_page = "Excursions" %}

{% block content %}

    <div class="container clearfix mt-100 mb-20">
      <h2><span>Excursions</span></h2>
      <div class="c12 row">
        <p>We are currenlty investigating several different options for excursions. Examples of what me might offer are:</p>
      </div>
      <div class="row">    
        <div class="c4 about ta-c">
          <img src="images/excursions-1.jpg" alt="" />
          <p class="name">USS Constitution</p>
          <p class="position">The USS consitution is the oldest comissions Navy Ship in the world. Details here... Passport or US driver's licence required for entry. Also, airport-like security screening (no pocket knives, etc., water bottles are OK.)</p>
        </div>
        <div class="c4 about ta-c">
          <img src="images/excursions-2.jpg" alt="" />
          <p class="name">Historic Boston</p>
          <p class="position">Walking tour along the "freedom train" through Boston's historic neighborhoods.</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="c12">
        <p>We have many other ideas for fun activities in Boston. More details to come!</p>
      </div>
      <h2><span>Activites and Sightseeing on your own</span></h2>
      <div class="c12 row">
        <p>Since there is so much to see and only one time slot for excursions in the schedule, we will be collecting a few tips here if you hve some time before or after the conference in Boston.x</p>
      </div>

    </div>
    

{% endblock content %}
