{% extends "templates/basic.html" %}
{% set active_page = "About" %}

{% block content %}

    <!-- Carousel ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
	{% for i in images %}
        <div class="item{% if i==images[0] %} active{% endif %}">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:slide {{i}}" alt="loading image">
          <img src="{{i}}" alt="nice pictures of Boston and the conference venue" />
        </div>
	{% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


    <div class="container clearfix mb-20">

      {% include "templates/globalmessage.html" ignore missing %}
      <h2><span>What is "Cool Stars"?</span></h2>
      <p>
	The Cambridge Workshop on Cool Stars, Stellar Systems, and the Sun (well-known as "Cool Stars") has been running for 37 years and is the longest running independent astronomy workshop series. The first workshop was held in Cambridge, Massachusetts in 1980.
	Since then, Cool Stars has occurred largely biennially, alternating between North America and Europe, where approximately 400 international experts in Low-Mass Stars, Solar Physics and Exoplanets meet to exchange ideas in a cross-displinary and friendly environment.
      </p>
      <p>
	Cool Stars 20 is jointly organised by four institutions in the Boston area (BU, CfA, MIT, and UMass Lowell) and will be held at Boston University in Boston/Cambridge, MA from July 29 to August 03, 2018.
	</p>
       

       <h2><span>SOC</span></h2>
       <div class="c12 row">
	 <ul class="listing">
	   {% for m in soc %}
	   <li>{{m['Full Name']}} - {{m['Institute']}}</li>
	   {% endfor %}
	 </ul>
       </div> 
       <h2><span>LOC</span></h2>
       <div class="c12 row">
	 <ul class="listing">
	   {% for m in loc %}
	   <li>{{m['name']}} - {{m['inst']}}</li>
	   {% endfor %}
	 </ul>
       </div>
       <h2><span>Sponsoring Institutions</span></h2>
       <div class="row clearfix sponsor-logo">
         <div class="c2 img">
	   <a href="https://www.cfa.harvard.edu">
             <img src="images/SAO-squarelogo.png" alt="SAO logo">
	   </a>
         </div>
         <div class="c2 img">
	   <a href="https://www.cfa.harvard.edu">
             <img src="images/Harvard_University_logo.svg" alt="Harvard logo">
	   </a>
         </div>
	 <div class="c3 img">
	   <a href="https://www.bu.edu/">
             <img src="images/Boston_University.png" alt="Boston University logo">
	   </a>
         </div>
	 <div class="c3 img">
	   <a href="https://www.mit.edu/">
             <img src="images/MIT-logo.png" alt="MIT logo">
	   </a>
         </div>
	 <div class="c2 img">
	   <a href="https://www.uml.edu/">
             <img src="images/uml_logo.jpeg" alt="UMAss Lowell logo">
	   </a>
         </div>
	 

	 
      </div>

       <h2><span>Code of Conduct</span></h2>
       <div class="c12 row">

	 <p> Coming soon ... </p>
       </div>
       <h2><span>Acknowledgements</span></h2>
       <div class="c12 row">
	 <ul class="listing">
	   <li>Artwork: Kristin Ann Divona</li>
	   <li>Website template design by Veselka for <a href="http://www.andreasviklund.com">andreasviklund.com</a> </li>
	   <li>Website development on <a href="https://github.com/coolstars20/website">github</a>
	 </ul>
       </div>

              <h2><span>Previous Meetings</span></h2>
       <div class="c12 row">
	 <ul class="listing">
	   <li>CS 19 - <a href="http://coolstars19.com/">Uppsala, Sweden, June 2016</a></li>
	   <li>CS 18 - <a href="http://www2.lowell.edu/workshops/coolstars18/">Flagstaff, AZ, USA, June 2014</a></li>
	   <li>CS 17 - Barcelona, SPAIN, June 2012</li>
	   <li>CS 16 - Seattle, WA, USA, August 2010</li>
	   <li>CS 15 - <a href="http://star-www.st-andrews.ac.uk/coolstars15/">St Andrews, United Kingdom, July 2008</a></li>
	   <li>CS 14 - <a href="https://irsa.ipac.caltech.edu/data/SPITZER/docs/spitzermission/reportsandproceedings/meetings/coolstars14/">Pasadena, CA, USA, November 2006</a></li>
	   <li>CS 13 - Hamburg, Germany, July 2004</li>
	   <li>CS 12 - Boulder, CO, USA, July 2001</li>
	   <li>CS 11 - Tenerife, Spain, October 1999</li>
	   <li>CS 10 - Cambridge, MA, USA, 1997</li>
	   <li>CS 9 - Florence, Italy, 1995</li>
	   <li>CS 8 - Athens, GA, USA, 1993</li>
	   <li>CS 7 - Tucson, AZ, USA, 1991</li>
	   <li>CS 6 - Seattle, WA, USA, 1989</li>
	   <li>CS 5 - Boulder, CO, USA, 1987</li>
	   <li>CS 4 - Santa Fe, NM, USA, 1985</li>
	   <li>CS 3 - Cambridge, MA, USA, 1983</li>
	   <li>CS 2 - Cambridge, MA, USA, 1981</li>
	   <li>CS 1 - Cambridge, MA, USA, 1980</li>
	 </ul>
       </div> 

       <h2><span>Website Privacy Policy</span></h2>
       <div class="c12 row">
	 <p>
	   We (the Cools Stars organizing comitee) collect personally identifiable information such as your name and home institution only when you specifically send them to us by filling out an abstract submission or registration form. Those forms (and the required payments) are hosted by third parties such a Google or the Smithsonian institution. Please refer to their privacy statement for details on how they handle your information.
	 </p>
	 <p> This page is hosted on Github's servers. Please see <a href="https://help.github.com/articles/github-privacy-statement/">Github's privacy policy</a> for the information that they collect about site visitors. Please note that we (the CS20 LOC) do not have access to or control over their data.
       </div>
      <p>
	We will use the information provided to us when submitting an abstract or registration form to organize the conference. Participant names and home institutions as well as accepted conference contributions will be made public. We will use your contact information to inform you about the status of your submission, conference registration, and other organizational matters related to the Cool Stars 20 conference. You can contact us by email at any time to request that we do not contact you any further.
	</p>
    </div>
    

{% endblock content %}
