{% extends "templates/basic.html" %}
{% set active_page = "None" %}
{% block content %}
<div class="container clearfix mt-100 mb-20">
  {% include "templates/globalmessage.html" ignore missing %}
  <h2><span>Cool Stars 20 proceedings<span></h2>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSejHwG32Ww67cC-fx8os-srzyRLxTnpqzIGlDTtyM2OPpJM6A/viewform?embedded=true" width="900" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
{% endblock content %}

