{% extends "templates/basic.html" %}
{% set active_page = "Program" %}

{% block content %}

<div class="container clearfix mt-100 mb-20">
       {% include "templates/globalmessage.html" ignore missing %}

      <h2><span>Program</span></h2>
      <div class="c12 row">
        <p>
	  The SOC is currently working on the science themes for this meeting,
	  which we will list here as soon as they are finalized. </p>
	<p> Previous cool stars meetings covered topics such as:
	</p>
	<div class="c12 row">
	  <ul class="listing">
	    <li>Cool Stars in the Galactic Context</li>
	    <li>(sub)Stellar Interiors & Fundamental Properties</li>
	    <li>Physics of (sub)Stellar Atmospheres & Cool Star Abundances</li>
	    <li>Stellar Winds, Mass Loss, and Rotation from the pre-MS through the AGB</li>
	    <li>Solar/Stellar Magnetic Activity and the Impact on Planetary Environments</li>
	    <li>Cool Star Formation, Structure and Evolution</li>
	    <li>Cool Stars as Dynamic Objects</li>
	    <li>Cool Star Abundances</li>
	    <li>Cool Stars as Planet Hosts</li>
	  </ul>
	</div> 

      </div>  
    </div>

{% endblock content %}
