{% extends "templates/basic.html" %}
{% set active_page = "Program" %}

{% block content %}

<div class="container clearfix mt-100 mb-20">
        <div class="c12 row">
        <p class="intro-text">July 29 - Aug 3 2018, Boston / Cambridge, USA</p>
       </div>
      <h2><span>About us</span></h2>
      <div class="c12 row">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>  
    </div>

{% endblock content %}
