{% extends "templates/basic.html" %}
{% set active_page = "Splinters" %}

{% block content %}

    <div class="container clearfix mt-100 mb-20">
       {% include "templates/globalmessage.html" ignore missing %}

       <h2><span>Splinter sessions</span></h2>
       <div class="c12 row">
	 <p>Splinter sessions are going to be held on Monday, Tuesday, and Thursday afternoon (we have not yet decided which session will take place on which day). There will be three splinter sessions in paralell. These sessions are organized separately from the main conference. Each splinter session will have its own website with contact information for contributors. The websites will be linked from the splinter session title in the list below when they are available.<p>
	 <p>
	   <strong>Splinter session organizers can set their own deadlines for contributions to their sessions.  Typically the deadlines will be in late April or early May.</strong> Splinter sessions were announced in late February, and the organizers of the selected splinters are currently building their websites.</p>
	   </p>
	   <ul class="listing">
	     {% for m in splinters %}
	     {% if m['url'] %}
	     <li><strong><a href="{{m['url']}}">{{m['title']}}</a></strong><br>{{m['organizers']}}</li>
	     {% else %}
	     <li><strong>{{m['title']}}</strong><br>{{m['organizers']}}</li>
	     {% endif %}
	   {% endfor %}
	   </ul>
	</div>
      <h2><span>For reference: Splinter session proposals</span></h2>
      <div class="c12 row">
	<p>Splinter sessions were solicited from the community in January
	2018. This process is now closed, but the original solicitation can be
	found below for reference</p>

	<p>The CS20 SOC  invites the community to propose splinter sessions on current 
hot topics. Proposals for splinter sessions can be made by individuals or groups of 
individuals. At this time, we are planning on 9  splinter sessions of 180 minutes each
to be accommodated in our schedule. The splinter organizers will have access to 
abstracts of potential contributions submitted on the abstract form.</p>

<p>Splinter organizers should be prepared to produce and maintain a website that 
includes the schedule and speakers, and describes opportunities for people 
to participate in the session. The splinter websites will be linked from the 
main CS20 website, so all meeting participants are aware of the splinter 
sessions and can make informed choices about which sessions they wish to attend.  
A complete program for each splinter should be online six weeks prior to the 
meeting, that is by  June 15th, 2018 - and hopefully earlier.</p>

<p>Any splinter session proposal should include the following:<p/>

  <ol>
    <li>Title</li>
    <li>Names of the session organizers with primary contact information; names 
       of co-organizers if appropriate</li>
    <li>Two page summary of the goal of the session, including discussion on why 
       this is a timely and relevant topic for CS20</li>
    <li>List of potential speakers, and a plan for how additional speakers will 
       be solicited (Note that CS20 follows a "one person - one talk"
       rule. Plenary speakers cannot
       give a talk in a splinter session, nor can one person talk in more
       than one splinters session.)</li>
    <li>Proposed Splinter format that includes a description on how the audience 
       will be involved</li>
    <li>Commitment to set up a website in support of the splinter, with a complete 
       program online by June 15th, 2018</li>
    <li>Commitment to contribute a summary of the session for the proceedings</li>
  </ol>

  <p>Deadline for splinter session proposals is <strong>January 31, 2018</strong>. Please submit 
proposals by mailing a plain text file to <a href="mailto:cs20@cfa.harvard.edu?subject=Splinter%20Session%20Proposal" target="_top">cs20@cfa.harvard.edu</a> with the subject line 
'Splinter Session Proposal'.</p>

<p>We plan to announce accepted splinter sessions by February 19, 2018, and
will provide links to your splinter session website for attendees to submit contributions to your splinter as soon as possible.</p>


      </div>  
    </div>

{% endblock content %}
