{% extends "templates/basic.html" %}
{% set active_page = "Splinters" %}

{% block content %}

    <div class="container clearfix mt-100 mb-20">
       {% include "templates/globalmessage.html" ignore missing %}

      <h2><span>Splinter sessions</span></h2>
      <div class="c12 row">
        <p>Cool Stars 20 will include splinter sessions which will be scheduled in the program, but are organized entirely independently. Proposals for splinter sessions will be accepted after the main science themes of the conferences are selected by the SOC and solicitation of splinter topics will close about 8 months before the conference.</p>

	{% include "templates/emailform.html" ignore missing %}

      </div>  
    </div>

{% endblock content %}
