{% extends "templates/basic.html" %}
{% set active_page = "Logistics" %}

{% block content %}

<div class="container clearfix mt-100 mb-20">
  <h2><span>Conference Venue</span></h2>
  <div class="row" style="min-height: 350px">
    <div class="c4">
      <p>George Sherman Union, 775 Commonwealth Avenue, Boston</p>

      <p>The George Sherman Union of Boston University hosts the meeting. All talks, splinter session, poster sessions take place on the second floor.
      </p>
      <p><small><a href="https://www.openstreetmap.org/?mlat=42.3509&amp;mlon=-71.1093#map=14/42.3509/-71.1093">(View Larger Map)</a></small></p>
    </div>
    <div class="c8">
      <script src="https://embed.github.com/view/geojson/coolstars20/website/master/maps/GeorgeShermanUnion.geojson?height=350&width=100%"></script>
    </div>
  </div>  

  <h2><span>Traveling to Boston</span></h2>
      <div class="c12 row">
        <p>Logan Airport (IATA-code: BOS) is served by a large number of US and international airlines. Direct flight are offered to most major US and European airports. Several smaller airports exist in the Greater Boston area, but connecting from there to Boston is usually less convenient.
	</p>
      </div>
      <h2><span>Transport to the Conference Venue</span></h2>
      <div class="c12 row">
        <p>A taxi from the airport costs about 30$ (15-20% tip are expected in the US). Taxis prefer cash, but also accept all major credit cards.</p>

	<p>Public transport in Boston is provided by the <a href="http://mbta.com">MBTA</a>. From the airport, the "Silver Line" is a bus leaving right outside the Terminal. (Travel starting with the Silver Line from the airport is free, a measure introduced to reduce congestion at the airport terminals.) Stay on the bus to the final stop (South Station) and transfer to the Red Line (inboud to Alewife) for two stops ("Park Street"). Change to a Green Line train outbound to "Boston College". (Note that the Green Line has several branches, so check the distination on the train.) The Green line stop "Boston University, Central" is a 2 min walk from the Conference Venue.</p>

	<p>Both the <a href="http://mbta.com">MBTA</a> and <a href="https://maps.google.com">Google Maps</a> offer a journey planner that has up-to-date timetables for all train and bus services in Boston.
	</p>
      </div>
      <h2><span>Lodging / Hotels</span></h2>
      <div class="c12 row">
        <p>
	</p>
      </div> 
    </div>

{% endblock content %}
