      <div class="c12 row">
        <p class="intro-text">July 29 - Aug 3 2018, Boston / Cambridge, USA</p>
       </div>
       <div class="c12 row">
        <p class="welcome-text">The "Cambridge Workshops of Cool Stars, Stellar Systems and the Sun" are held biennially and have evolved to be the premier conference series for cool star research.</p>
       </div>
       <div class="c12 row">
        <p>Please submit <a href="contributions.html#Proceedings">proceedings</a> till October 15th. Check out our <a href="proceedings.html">detailed instructions</a>.</p>
       </div>

       {% include 'templates/submitbuttons.html' %}
