      <div class="c12 row">
        <p class="intro-text">July 29 - Aug 3 2018, Boston / Cambridge, USA</p>
       </div>
       <div class="c12 row">
        <p class="welcome-text">The "Cambridge Workshops of Cool Stars, Stellar Systems and the Sun" are held biennially and have evolved to be the premier conference series for cool star research.</p>
       </div>
       <div class="c12 row">

        <p>Video recordings and slides for most talks are posted. See links
        for each abstract on the <a href="abstracts.html">abstract
        page.</a></p>

        <p>Please
        submit <a href="contributions.html#Proceedings">proceedings</a>
        until <strong>November 15th (deadline extended)</strong>. Check out our <a href="proceedings.html">detailed instructions</a>.</p>
       </div>

       {% include 'templates/submitbuttons.html' %}
