      <div class="c12 row">
        <p class="intro-text">July 29 - Aug 3 2018, Boston / Cambridge, USA</p>
       </div>
       <div class="c12 row">
        <p class="welcome-text">The "Cambridge Workshops of Cool Stars, Stellar Systems and the Sun" are held biennially and have evolved to be the premier conference series for cool star research.</p>
       </div>
       {% include 'templates/submitbuttons.html' %}
       <div class="c12 row">
         <p>A careful review of the registration list showed that several people had registered twice. After fixing this, we have a few more spots available and registation is open again.</p>
	 <p>Booking excursions closes on July 13th.</p>
       </div>
