<div class="c12 row">
  SOC and LOC plan the following imporant dates:
	<ul class="listing">
	  <li>Early March - registration opens</li>
	  <li>March 16 - deadline for contributed talks in the plenary session and financial support</li>
	  <li>April 15 - contributed speakers announced</li>
	  <li>May 1 - deadline for early registration</li>
	  <li>June 15 - detailed splinter session programs online, deadline for poster abstracts and regular registration</li>
	  <li>July 10 - deadline for late registration</li>
	  <li>July 28: CIAO workshop /
	  <a href="https://exoplanets.nasa.gov/exep/events/205/">ExoPAG 18</a></li>
	  <li>July 29 to Aug 3: conference</li>
	  <li>Aug 4: Hack day</li>
	</ul>
      </div>
