<div class="c12 row">
  SOC and LOC plan the following imporant dates:
	<ul class="listing">
	  <li>Early March - registration opens</li>
	  <li>March 14 - deadline for abstracts for contributed talks and financial support</li>
	  <li>April 15 - contributed speakers announced</li>
	  <li>May 1 - deadline for early registration</li>
	  <li>June 15 - detailed splinter session programs online, deadline for poster abstracts and regular registration</li>
	  <li>July 10 - deadline for late registration</li>
	  <li>July 29 to Aug 3: conference</li>
	</ul>
      </div>
